{# templates/email.html.twig #}
<p>Madame, Monsieur,</p>
<p>vous trouverez l'invitation en pièce jointe.</p>
<br>
<p><small>Message envoyé automatiquement à partir d'une adresse qui ne peut pas recevoir de mails.</small></p>
